<div class="side-nav">
    <h2>
        <a class="nav-link" href="">JSSSMART</a>
    </h2>
    <br><br><br>
    <ul>
        <ol>
            <div class="nav-link">
                <i class="fi fi-rr-lesson"></i>
                <a class="nav" href="">Classes</a>
            </div>
        </ol>
        <ol>
            <div class="nav-link">
                <i class="fi fi-rs-category"></i>
                <a class="nav" href="">Subjects</a>
            </div>
        </ol>
        <ol>
            <div class="nav-link">
                <i class="fi fi-rr-user-graduate"></i>
                <a class="nav" href="">Students</a>
            </div>
        </ol>
        <ol>
            <div class="nav-link">
                <i class="fi fi-rs-interrogation"></i>
                <a class="nav" href="">Questions</a>
            </div>
        </ol>
    </ul>
    <br><br><br>
    <h2>
        <i class="fi fi-bs-sign-out-alt"></i>
        <a class="nav-link" href="">Logout</a>
    </h2>
</div>
